body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;


  background-image: url("images/logo-watermark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #000; 

  color: #111;
}


header {
  background-color: #1e3a8a;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 28px;
}

header p {
  margin: 5px 0 10px;
}

nav a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}


.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 25px;
  color: #fff;
}


.overlay {
  background-color: rgba(255, 255, 255, 0.75); /* light opacity */
  padding: 25px;
  border-radius: 10px;
}


footer {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}
.social-icons {
  display: flex;
  gap: 16px;
  margin-top: 10px;
}

.social-icons a {
  width: 42px;
  height: 42px;
  background: #333;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 20px;
  height: 20px;
  filter: invert(1); /* makes icons white */
}

.social-icons a:hover {
  background: #555;
}

